/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*End of CSS reset*/
@font-face {
    font-family: 'Benguiat';
    src: url('AGBenguiatCyrBoldBold.woff2') format('woff2'),
        url('AGBenguiatCyrBoldBold.woff') format('woff'),
        url('AGBenguiatCyrBoldBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
	font-family: 'Benguiat', normal;
	color: white;
	background:black;
	font-size:16px;
	/*background-image: url('../img/pink_dust.png');*/
}
a,a:link, a:visited{
	font-family: 'Benguiat', normal;
	color: white;
	text-decoration: none;
	

}

/*h1 {
font-family: 'Benguiat', normal;
font-size: 10em;
text-transform: uppercase;
margin-left:0px;
color: transparent;
}
h1 text {
fill: currentColor;
}
h1 svg { overflow: visible }
h1 use {
stroke: white;
stroke-width: 3;
stroke-linejoin: round;
}
*/
#particles-js {
	position: absolute;
	top:0;
	left:0;
	z-index:2;
	min-height: 100vh;
	width:100%;

}
#content{
	position:relative;
	top:0;
	z-index:5;
	font-size: 2em;
}
.chapter{
	display:inline-flex;
	flex-flow: column nowrap;
	padding:10px;
	margin:10px;
	text-transform: uppercase;
	width:auto;
	transition:all 0.5s ease;
	&:hover {
		color:#e4262d;
		.chapter__header{
				border-bottom:solid 3px #e4262d;
			}

	}
}
.chapter__header{
	border-bottom:solid 3px white;
	padding-bottom: 10px;
	transition:all 0.5s ease;
}
.chapter__name{
	margin-top: 15px;
	display: block;
}
.post{
	padding:20px 20vw;
	line-height: 1.5em;
	h1{
		font-size: 3em;
		padding: 10px 0px;
		border-bottom: solid 1px white;
	}

}

